* {
  margin: 0;
  cursor: url("/src/cursor_ojo_default.png"), auto;
}
body {
  background-color: rgb(5, 5, 5);
  color: #fde7e7;
  font-family: "DotGothic16", sans-serif;
  min-width: 320px;
}
a {
  color: #fde7e7;
  font-family: "DotGothic16", sans-serif;
}

.contenidoPagina {
  display: flex;
  justify-content: center;
  margin: 12% 0;
}
.hide {
  display: none;
}

/* FORM */
/* Header*/
header {
  background-image: url("src/banner.png");
  background-size: cover;
  display: flex;

  #logo {
    width: 200px;
  }
  #tituloLinks {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}

/* FORM */
#crudMonstruos {
  /* height: 50vh; */
  display: block;
  height: 100%;
  #form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 20px solid transparent;
    background-color: #a53dff;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    .inputs,
    #rdbGroup,
    #chkGroup {
      width: 100%;
    }

    .inputs > label {
      width: 20%;

      .iconos {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
    /* #rdbGroup, #chkGroup {
      .rdbInput{
        
      }
    } */

    #popUp {
      position: relative;
      background-color: #ad50ff;
      color: #fde7e7;
      align-items: center;
      border: solid black 2px;
      margin-top: 5px;
    }

    #buttons {
      justify-content: space-between;
      .botones {
        border-radius: 20%;
      }

      .botones {
        background-color: #a53dff;
        border: 2px solid #1a1a1a;
        border-radius: 15px;
        box-sizing: border-box;
        color: #fde7e7;
        cursor: pointer;
        line-height: normal;
        margin: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
      }
    }
    .botones:disabled {
      pointer-events: none;
    }
    .botones:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
      cursor: url("/src/cursor_ojo_pointer.png"), pointer;
    }
    .botones:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }
  #spinner {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 100px;
    #spinnerGif {
      height: 100px;
      animation-name: movimiento;
      animation-duration: 2s;
    }
  }
}
#error {
  display: flex;
  justify-content: center;
  color: red;
}
/* TABLA */
.tablaSection{
  .filtro, #tablaMonstruos{
    width: 100%;
  }
  .filtro{
    margin-bottom: 20px;
    background-color: #a53dff;
  }
}
#tablaMonstruos {
  border-collapse: collapse;
  font-size: larger;
  width: 100%;
  justify-content: left;
}
td {
  border: solid #a53dff 1px;
  text-align: center;
}
.cabecera {
  background-color: #a53dff;
}

/* CARDS */

#cardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("src/banner.png");
  background-size: cover;
  #cardsDiv {
    display: flex;
    flex-wrap: wrap;
    .Cards {
      margin: 20px;
      background-color: #a53dff;
      padding: 0 20px;
      border-radius: 5%;
      border: solid #9721ff 5px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .links,
  #derechos {
    height: 100%;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  /* FORM */
  #crudMonstruos {
    height: 100%;
    #form {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      border: 15px solid transparent;
      box-sizing: border-box;
      border: solid transparent 5px;

      .inputs > input,
      select {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
      }

      #rdbGroup,
      #chkGroup {
        .item {
          display: flex;
        }
        .item > input {
          margin-right: 10px;
        }
      }

      .inputs > label {
        display: flex;
      }

      #buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        .botones {
          /* display: flex; */
          height: 50%;
          background-color: #a53dff;
          border: 2px solid #1a1a1a;
          border-radius: 15px;
          box-sizing: content-box;
          color: #fde7e7;
          cursor: pointer;
          outline: none;
          text-align: center;
          font-size: smaller;
          padding: 10px 10px;
        }
      }
    }
  }

  /* TABLA */
  #tablaMonstruos {
    border-collapse: collapse;
    font-size: small;
    margin-top: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  /* Header*/

  header,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #logo {
      display: none;
    }
    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 10px;
    }
    #titulo,
    #links {
      font-size: larger;
    }

    #derechos {
      font-size: medium;
    }
  }

  /* CARDS */
  #cardsSection {
    #textoCards {
      text-align: center;
    }
    #cardsDiv {
      flex-direction: column;
      width: 100%;
    }
  }
}

@keyframes movimiento {
  100% {
    transform: translateX(100%);
  }
}
